/* used my-* classes to distinguish from bootstrap classes */


/* --------------- IMPORTS ------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* --------------- RESET ------------- */

html, body, header, footer, section, article, h1, h2, h3, p, a, button, ul, address {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.container-xxl {
    padding: 0;
}

.row, .row * {
    margin: 0;
    padding: 0;
    width: auto;
}

/* --------------- GLOBALS ------------- */

:root {
    --my-primary-color: #11644d;
    --my-primary-dark-color: #0a4031;
    --my-accent-color: #cc4b00;
    --my-light-grey-bg: #EDEDED;
    --my-grey-font: #616161;

    --my-main-font-family: "Nunito";
    --my-body-font-family: "Nunito Sans";
    --my-donate-form-font-family: "Roboto";

    --my-body-font-size: 20px;

   
}


/* --------------- HEADER ------------- */

body {
    color: var(--my-primary-color);
    font-family: var(--my-body-font-family);
    font-size: var(--my-body-font-size);
}

header {
    padding: 1rem 1rem .5rem 1rem;
    font-family: var(--my-main-font-family);

}

.my-large-nav {
    display: none;
}

.my-large-navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.my-large-navbar a,
.my-large-navbar button {
    display: block;
    font-size: 20px;
    color: var(--my-primary-color);
    padding: 5px 18px;
    margin-left: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.my-large-navbar a.active {
    border-color: var(--my-primary-color);
}

.my-large-navbar a:hover:not(a.active) {
    border-bottom: 1px solid var(--my-primary-color);
    border-radius: 0;
}

.my-large-navbar button {
    background-color: var(--my-primary-color);
    color: white;
    margin-left: 15px;
}

.my-large-navbar button:hover {
    background-color: var(--my-primary-dark-color);
}

.offcanvas {
    --bs-offcanvas-width: 160px;
    height: 220px;
}

.offcanvas.offcanvas-end {
    top: 20px;
}

.offcanvas-body {
    width: var(--bs-offcanvas-width);
    height: auto;
    padding: 0;
    
}
.my-burger-navbar {
    padding: 10px 10px 10px 10px;
    line-height: 2.6rem;
}

.nav-link {
    display: block;
    font-size: 1.1rem;
    color: var(--my-primary-color);
    padding: 0 1rem;
    margin: .2rem 0;
    border: 1px solid transparent;
    border-radius: 10px;
}

.my-burger-navbar a.active {
    border-color: var(--my-primary-color);
}

.my-burger-navbar a:hover:not(a.active) {
    font-weight: 700;
}

button.navbar-toggler {
    border: none;
    padding: 0;
}

.my-logo-large {
    width: 220px;
}

.my-logo-small {
    min-width: 180px;
}


@media screen and (min-width: 768px) {
    header > .my-large-nav {
        display: flex;
    }
    header > .my-burger-nav {
        display: none;
    }

}

/* --------------- MAIN ------------- */

main {
    background-color: bisque;
}

/* --------------- FOOTER ------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--my-primary-color);
    color: white;
    font-family: var(--my-body-font-family);
    font-size: .9rem;
    letter-spacing: 5%;
}

#my-footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#my-footer-contacts {
    align-items: flex-start;
}

.my-footer-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.my-footer-item:first-of-type {
    align-items: flex-start;
}

#my-footer-item-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-top: 1rem;
}

#my-follow-us {
    display: none;
}

#my-footer-small-print {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: .8rem;
}

#my-footer-small-print p:first-of-type {
    text-align: center;
}

#my-footer-small-print > p > span {
    font-size: 1rem;
}

#my-footer-align-box {
    display: flex;
    flex-direction: column;
}

#my-footer-location-img {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

#my-footer-phone-img {
    width: 28px;
    height: 28px;
    margin-right: 7px;
}

#my-footer-letter-img {
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

#my-footer-social-img {
    width: 120px;
    align-self: center;
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 1rem;
        font-family: var(--my-main-font-family);
        letter-spacing: .05rem;
    }
    
    #my-footer-main {
        display: block;
        width: 100%;
    }

    #my-footer-align-box {
        flex-direction: row;
        justify-content: space-between;
    }

    #my-footer-contacts {
        display: flex;
        flex-direction: column;
        order: 3;
        justify-content: center;
        align-items: flex-end;
    }

    #my-footer-item-social {
        align-self: center;
        padding: 0 2rem;
        margin: 0;
    }

    #my-footer-location-img {
        width: 40px;
        height: 40px;
        margin-right: .5rem;
    }
    
    #my-footer-phone-img {
        width: 30px;
        height: 30px;
        margin-right: .5rem;
    }
    
    #my-footer-letter-img {
        width: 30px;
        height: 25px;
        margin-right: .7rem;
    }

    #my-footer-social-img {
        width: 150px;
        margin-top: .5rem;
    }

    #my-follow-us {
        display: block;
        align-self: center;
    }
}


/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */