/* used my-* classes to distinguish from bootstrap classes */


/* --------------- IMPORTS ------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* --------------- RESET ------------- */

html, body, header, footer, section, article, h1, h2, h3, p, a, button, ul, address {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

.container-xxl {
    padding: 0;
}

.row, .row * {
    margin: 0;
    padding: 0;
    width: auto;
}

/* --------------- GLOBALS ------------- */

:root {
    --my-primary-color: #11644d;
    --my-primary-dark-color: #0a4031;
    --my-accent-color: #cc4b00;
    --my-light-grey-bg: #EDEDED;
    --my-grey-font: #616161;

    --my-main-font-family: "Nunito";
    --my-body-font-family: "Nunito Sans";
    --my-donate-form-font-family: "Roboto";

    --my-body-font-size: 20px;

   
}


/* --------------- HEADER ------------- */

body {
    color: var(--my-primary-color);
    font-family: var(--my-body-font-family);
    font-size: var(--my-body-font-size);
}

header {
    padding: 1rem 2rem .5rem;
    font-family: var(--my-main-font-family);

}

.my-large-nav {
    display: none;
}

.my-large-navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.my-large-navbar a,
.my-large-navbar button {
    display: block;
    font-size: 20px;
    color: var(--my-primary-color);
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.my-large-navbar a:hover:not(a.active) {
    text-decoration: underline;
}

.my-large-navbar a.active {
    border-color: var(--my-primary-color);
}

.my-large-navbar button {
    background-color: var(--my-primary-color);
    color: white;
    margin-left: 5px;
}

.my-large-navbar button:hover {
    background-color: var(--my-primary-dark-color);
}

.offcanvas {
    --bs-offcanvas-width: 150px;
    height: 180px;
}

.offcanvas.offcanvas-end {
    top: 20px;
}

.offcanvas-body {
    width: var(--bs-offcanvas-width);
    height: auto;
    padding: 0;
    
}
.my-burger-navbar {
    padding: 10px 10px 10px 20px;
    line-height: 2.5rem;
}

button.navbar-toggler {
    border: none;
}

.my-logo-large {
    width: 220px;
}

.my-logo-small {
    min-width: 180px;
}


@media screen and (min-width: 768px) {
    header > .my-large-nav {
        display: flex;
    }
    header > .my-burger-nav {
        display: none;
    }

}

/* --------------- MAIN ------------- */

main {
    background-color: bisque;
}

/* --------------- FOOTER ------------- */

footer {
    background-color: var(--my-primary-color);
    color: white;
    height: 320px;
    
    font-family: var(--my-body-font-family);
    font-size: 14px;
    letter-spacing: .05rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#my-footer-main {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem;
    flex-direction: column;
    align-items: center;
}

#my-footer-small-print {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.my-footer-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#my-footer-item-social,
#my-footer-item-contacts {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#my-footer-item-contacts {
    justify-content: space-around;
}


#my-footer-location-img {
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

#my-footer-phone-img {
    width: 28px;
    height: 28px;
    margin-right: .5rem;
}

#my-footer-letter-img {
    width: 30px;
    height: 20px;
    margin-right: .5rem;
}

#my-footer-social-img {
    width: 120px;
}

@media screen and (min-width: 768px) {
    footer {
        height: 240px;
        font-size: 18px;
    }
    
    #my-footer-main,
    #my-footer-small-print {
        flex-direction: row;
        align-items: flex-start;
    }

    #my-footer-item-contacts {
        order: 3;
        align-items: flex-end;
        height: 80px;
    }

    #my-footer-location-img {
        width: 50px;
        height: 50px;
        margin-right: .5rem;
    }
    
    #my-footer-phone-img {
        width: 40px;
        height: 40px;
        margin-right: .5rem;
    }
    
    #my-footer-letter-img {
        width: 40px;
        height: 30px;
        margin-right: .5rem;
    }

    #my-footer-social-img {
        width: 160px;
    }

}


/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */
/* ---------------  ------------- */